ul {
    list-style: none;
}

form {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.objMenu {
    display: flex;
    flex-direction: row;
}